@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chivo&display=swap");

* {
  box-sizing: border-box;
}

.main {
  background-image: url("images/voteBackground.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

#titleBackground {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 1%;
  background-color: 	#e6e6fa;
  height: 30%;
  width: 23%;
  margin-bottom: 0.5%;
  border-radius: 5px;
}

#titleBackground:hover {
  cursor: pointer;
}

h1 {
  color: black;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

#mainTextBox {
  background-color:	#050505;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 12vh;
  width: 70%;
  border-radius: 10px;
  margin: 0rem auto;
}

#mainText {
  color: lightskyblue
  font-family: "Chivo", sans-serif;
  font-size: 2.3rem;
  font-style: italic;
}


img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 20px;
}

.card-body {
  display: flex;
  justify-content: space-evenly;
  margin-top: 0.5%;
  margin-bottom: 0.5rem;
}

.card {
  width: 25%;
  height: 100%;
  background-color: 	#f0f8ff;
  border: 4px solid black;
  text-align: center;
  border-radius: 20px;
  box-shadow: -10px -10px 15px black;
}

.card:hover {
  color: red;
  transition: 0.4s;
}

#voteButton:hover {
  transition: 0.4s;
  opacity: 1;
  cursor: pointer;
}

.footer {
  display: flex;
  justify-content: center;
  margin-top: 0.5rem;
}

input[type="radio"] {
  height: 3rem;
  width: 3rem;
  vertical-align: middle;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

input[type="checkbox"] {
  height: 40px;
  width: 40px;
  vertical-align: middle;
  margin-bottom: 3rem;
  margin-top: 3rem;
}

#moreButton {
  display: none;
  position: fixed;
  width: 21%;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  margin-top: 1%;
}

#voteBarChocolate1 {
  display: none;
  height: 20%;
  width: 30%;
  background-color: green;
  border: 4px solid black;
  font-weight: bolder;
  font-size: 1.5rem;
  margin-left: 2rem;
  color: black;
}

#voteBarChocolate2 {
  display: none;
  height: 20%;
  width: 29%;
  background-color: green;
  border: 4px solid black;
  font-weight: bolder;
  font-size: 1.5rem;
  margin-left: 2rem;
  color: black;
}

#voteBarVanilla {
  display: none;
  height: 20%;
  width: 41%;
  background-color: green;
  border: 4px solid black;
  font-weight: bolder;
  font-size: 1.5rem;
  margin-left: 2rem;
  color: black;
}

#appVoteBarChocolate1 {
  display: none;
  height: 20%;
  width: 47%;
  background-color: green;
  border: 4px solid black;
  font-weight: bolder;
  font-size: 1.5rem;
  margin-left: 2rem;
  color: black;
}
#appVoteBarChocolate2 {
  display: none;
  height: 20%;
  width: 48%;
  background-color: green;
  border: 4px solid black;
  font-weight: bolder;
  font-size: 1.5rem;
  margin-left: 2rem;
  color: black;
}
#appVoteBarVanilla {
  display: none;
  height: 20%;
  width: 42%;
  background-color: green;
  border: 4px solid black;
  font-weight: bolder;
  font-size: 1.5rem;
  margin-left: 2rem;
  color: black;
}

.noHover {
  pointer-events: none;
  opacity: 0.7;
}

.winner {
  opacity: 1 !important;
}

.loser {
  opacity: 0.4;
}

a {
  text-decoration: none;
}

a:hover {
  color: darkred;
}

#appVoteBarChocolate1 {
  font-size: 3rem;
  display: none;
}
#appVoteBarChocolate2 {
  font-size: 3rem;
  display: none;
}
#appVoteBarVanilla {
  font-size: 3rem;
  display: none;
}
